# ========================

# Python / Django

# ========================

**pycache**/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.*
*.log

# virtual environment

venv/
env/
.venv/

# Django static & media

staticfiles/
media/

# ========================

# ML / Models (IMPORTANT)

# ========================

models/
checkpoints/
*.pt
*.pth
*.bin
*.h5
*.ckpt
*.safetensors

# HuggingFace / transformers cache

.cache/
huggingface/

# ========================

# Node / React

# ========================

node_modules/
build/
dist/

# logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================

# OS files

# ========================

.DS_Store
Thumbs.db

# ========================

# IDEs

# ========================

.vscode/
.idea/

# ========================

# Misc

# ========================

*.swp
*.bak*
