## Core Django & API
asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
psycopg2
python-decouple==3.8
sqlparse==0.5.0

## Machine Learning & Deep Learning
torch>=2.0.0
transformers>=4.30.0
datasets>=2.14.0
numpy>=1.24.0
scipy>=1.10.0
joblib>=1.2.0
huggingface_hub>=0.16.0
flatbuffers>=23.5.26

## Utilities
Pillow==10.4.0
requests>=2.31.0
tqdm>=4.65.0
python-dateutil>=2.8.2
PyJWT>=2.8.0
Django
djangorestframework
python-dotenv
ollama
